.dropdown {
    position: fixed;
    right: 50px;
    top: 50px;
}

#ddbtn {
    border: none;
    background-color: transparent;
}

#hamburgerImage {
    width: 50px;
}

.ddcontainer {
    display: flex;
}