#signupForm {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.inputSection {
    display: flex;
}

.formInput {
    flex-grow: 2;
}

.label {
    margin: 0 auto;
}

.smallInfo {
    margin: 0;
}

.passwordError {
    margin: 0 auto;
    color: red;
}